body,
html,
#root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: hsl(0, 0%, 10%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
